<div class="center jumbotron">
	<h1>Welcome to Prejob</h1>
	<h2>本当に成長したい生徒へ贈る、有給インターン情報サイトです</h2>

	<%= link_to "Sign up for Students!", new_student_registration_path, class: "btn btn-lg btn-primary" %>
	<%= link_to "Sign up for Companies!", new_company_registration_path, class: "btn btn-lg btn-primary" %>
</div>