<div class="center jumbotron c-one">
	<div class="container-fluid">
		<h1>Welcome to Prejob！</h1>
		<h2>本当に成長したい生徒へ贈る、有給インターン情報サイトです</h2>
		<%= link_to "Sign up for Students!", new_student_registration_path, class: "btn btn-lg btn-primary" %>
		<%= link_to "Sign up for Companies!", new_company_registration_path, class: "btn btn-lg btn-primary" %>
	</div>
</div>

<div class="center jumbotron c-two">
	<img src="">
	<h1>Prejobとは？</h1>
	<h2>Prejobは、本当に成長したい学生にオススメの、<br>有給インターンの情報を提供するサイトです。</h2>
</div>

<div class="center jumbotron c-three">
	<h1>どのように利用する？</h1>
	<h2>企業の方は、インターンを登録しておくだけです。<br>学生の方は、豊富な種類のインターンから、興味のあるものを自由に選ぶだけです。</h2>
</div>

<div class="center jumbotron c-four">
	<h1>さあ、今すぐ登録しましょう！</h1>
	<%= link_to "Sign up for Students!", new_student_registration_path, class: "btn btn-lg btn-primary" %>
	<%= link_to "Sign up for Companies!", new_company_registration_path, class: "btn btn-lg btn-primary" %>
</div>